@page "/clinics"
@using Clinics.Contracts
@using Grpc.Net.Client
@using Microsoft.AspNetCore.Authorization
@using static Clinics.Contracts.GetClinicsResponse.Types
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IConfiguration Configuration
@inject ClinicsClient ClinicsClient

@attribute [Authorize]

<PageTitle>Clinics</PageTitle>

<AuthorizeView>
    Hello @context.User.Identity?.Name!

    @if (_clinics == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>City</th>
                    <th>Street</th>
                    <th>StreetNumber</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var clinic in _clinics)
                {
                    <tr>
                        <td>@clinic.Name</td>
                        <td>@clinic.City</td>
                        <td>@clinic.Street</td>
                        <td>@clinic.StreetNumber</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</AuthorizeView>

@code {
    private ClinicDto[]? _clinics;

    private Task<ClinicDto[]> GetClinicsAsync() => ClinicsClient.GetClinicsAsync(CancellationToken.None);

    protected override async Task OnInitializedAsync()
    {
        if (_clinics == null)
            _clinics = await GetClinicsAsync();
    }
}
